body {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}
img {
  object-fit: contain;
  width: 110px;
  align-self: center;
}
h1 {
  color: #b4b4b4;
  text-transform: uppercase;
}
h3 {
  margin-top: 8%;
}
p {
  text-align: justify;
  text-justify: auto;
}
h5 {
  margin-top: 10%;
}
